<table>
  <tr>
  <h3>
    <td>First Name </td>
    <td>Last Name</td>
    <td>Current Competencies</td>
  </h3>
  </tr>
  <tr>
    <td>Gedeon</td>
    <td>Ntwali</td>
    <td>37 Competencies</td>
  </tr>
</table>