<table>
  <tr>
  <h1>
    <td> First Name </td>
    <td> Last Name </td>
    <td> Cohort </td>
    <td> Date </td>
    <td>Current Competencies</td>
    
  </h1>
  </tr>
    <tr>
      <td> Gedeon </td> 
      <td> Ntwali </td>
      <td> Cohort 2015 </td> 
      <td> Time.now </td>
      <td> 40  </td>
    </tr>
</table>